body{
    background-color:rgba(193, 188, 182, 0.936);
}
#container{
    display: flex;
    border: 8px solid rgb(0, 251, 255);
    box-shadow: 9px 9px #666;
    width: 400px;
    height: 400px; 
}
h1{
    display: flex;
    justify-content: center;
    font-family:Garamond, serif;
    font-size: 48px;
    font-weight: bolder;
   color: #070707;
    text-shadow: 3px 3px #d10bb3, 5px 5px #0e0bd1, 7px 7px #0bd118, 9px 9px #f0f406, 11px 11px #d1120b;
    margin-left: 150px;
    
    /*background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
     -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/

    
}
#big-container{
    display: flex;
   
   justify-content: center;
   

}
.row{
    flex: 1;
    
   /* border: 1px solid black;*/
    background-color: white;
}
  #sizebtn{
    display: flex;
    justify-content: center;

  }
  .btns, .buttons{
    margin-top: 10px;
  }
  p{
    font-size: 24px;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
.slidecontainer{
    margin-left: 180px;
        display:flex;
        justify-content: center;
        margin-top: 20px;
    }
  #mysize{
  
    font-weight: bold;
    margin-top: 20px;
  }
  .slider {

    -webkit-appearance: none;
    width: 250px;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-top: 30px;
   
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background:black;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
  }
 /* button{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 150px;
    height: 70px;
  }
  button:hover{
    border: 2px saddlebrown;

  }*/
  button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #464746;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    width: 150px;
  }
  
  button:hover {background-color: #8e3e67}
  
  button:active {
    background-color: #8e3e67;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  #changeColor{
    display: flex;
    flex-direction: column;
    margin-bottom: 120px;
    margin-right: 40px;
  }
  .colorpick{
    width: 40px;
    border-radius: 50%;
  }
  .cls{
    border: 10px solid #464746;
    color: #fff;
    background-color: #464746;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    width: 120px;
  }
  .cls, #blacks, #rgbs, #clear{
    margin-bottom: 10px;
  }